<p id="notice"><%= notice %></p>

<p>
  <b>Studentid:</b>
  <%= @student.studentid %>
</p>

<p>
  <b>Status:</b>
  <%= @student.status %>
</p>

<p>
  <b>Firstname:</b>
  <%= @student.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @student.lastname %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Number:</b>
  <%= @student.number %>
</p>

<p>
  <b>College:</b>
  <%= @student.college %>
</p>

<p>
  <b>State:</b>
  <%= @student.state %>
</p>

<p>
  <b>Yearofgraduation:</b>
  <%= @student.yearofgraduation %>
</p>

<p>
  <b>Careertrack:</b>
  <%= @student.careertrack %>
</p>

<p>
  <b>Exercisescompleted:</b>
  <%= @student.exercisescompleted %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
